<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.android.climbtogether">

    <!-- OpenGl 사용을 명시하고 OpenGl이 지원되지 않는 기기에서 이앱을 필터링해줌 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:supportsRtl">

        <!-- google map API 버전 및 API Key 설정 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBBl-b0pYV5a_oqfRSZoWxOAHYXY355hVY"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="ClimbTogether"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GymResister"
            android:label="Resister Your Gym">
        </activity>

        <!--        <fragment
                    android:name=".fragment.ProblemFragment"
                    android:label="Check the Problems In the Gym">
                </fragment>-->

        <activity
            android:name=".activity.ProblemResister"
            android:label="Add your Problems">
        </activity>
        <activity android:name=".activity.MyHistoryActivity">
        </activity>
        <activity android:name=".activity.UserProfile">
        </activity>
        <activity
            android:name=".activity.GymDetailActivity"
            android:label="Gym Detail View Page">
        </activity>
        <activity
            android:name=".activity.ProblemDetailActivity"
            android:label="Problem Detail View Page">
        </activity>
        <activity
            android:name=".activity.ProblemListFromGym"
            android:label="ProblemList View Page">
        </activity>
        <activity
            android:name=".activity.ProblemTabLayoutActivity"
            android:label="Problem List">
        </activity>
    </application>

</manifest>